@import url("./module.css");
@import url("../components/display/display.css");
@import url("../components/fader/fader.css");
@import url("../components/filter/filter.css");
@import url("../components/oscillator/oscillator.css");
@import url("../components/oscillator/oscillator-module.css");
@import url("../components/keyboard/keyboard.css");

html {
  --color-dark: #121212;
  --color-light: #fafafa;
  --color-mid: #8884;
  background-color: var(--color-dark);
  color: var(--color-light);
  color-scheme: dark;
  font-family: 'Inter', sans-serif;
}

body {
  font-family: system-ui, sans-serif;
  margin: 1rem;
}

.hidden {
  display: none;
}
