.root-osc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.osc__wave-select {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.root-osc__wave-select-sources {
  display: flex;
  flex-direction: column;
  max-width: 110px;
}

.root-osc__source {
  --color-background: #3e4245;
  background-color: var(--color-background);
  padding: 5px;
  margin: 5px 5px 0 5px;
}

.osc-pitch-bend {

}

.osc-pitch-bend__options {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 5px;
}

.osc-pitch-bend__sticky {
  --color-background: #3e4245;
  background-color: var(--color-background);
  width: fit-content;
  padding: 5px;
  border-radius: 2px;
}

.osc-pitch-bend__amount {
  background-color: #161719;
  border: 1px solid #3e4245;
  border-radius: 2px;
  margin-top: 5px;
  height: 30px;
  width: 68px;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.osc-pitch-bend__amount::-webkit-inner-spin-button, 
.osc-pitch-bend__amount::-webkit-outer-spin-button {  
   opacity: 1;
}
