.root-osc-module {
  text-align: center;
  padding: 20px;
}

.osc-module__wrapper {
  display: flex;
}

.osc-module__control-sources {
  --color-background: #3e4245;
  background-color: var(--color-background);
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  padding: 8px 2px 4px; 
}

.osc-module-control__single-wrapper {
  margin-left: 8px;
}

