.root-osc {
  display: flex;
  align-items: center;
}

.root-osc__wave-select {
  text-align: center;
}

.root-osc__wave-select-sources {
  display: flex;
  flex-wrap: wrap;
  max-width: 110px;
}

.root-osc__source {
  --color-background: #3e4245;
  background-color: var(--color-background);
  padding: 5px;
  margin: 6px;
}

.osc-pitch-bend {
  margin: 10px;
}

.osc-pitch-bend__options {
  margin: 5px;
}

.osc-pitch-bend__sticky {
  --color-background: #3e4245;
  background-color: var(--color-background);
  width: fit-content;
  padding: 5px;
  border-radius: 2px;
}

.osc-pitch-bend__amount {
  margin-top: 10px;
  height: 30px;
  width: 35px;
}
