root-connect {
  display: flex;
  justify-content: center;
}

div[class^='root'], div[class*=' root'] {
  background-color: #161719;
  border: 1px solid #3E4245;
  border-radius: 4px;
  margin: 20px;
  width: fit-content;
}

.module__heading {
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.2em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.module__subheading {
  font-size: 8px;
  line-height: 14px;
  text-transform: uppercase;
}

.module__text {
  font-size: 10px;
  font-weight: 400;
  margin: 16px 0;
  text-transform: uppercase;
}

.module-single-fader-display__no-toggle {
  --color-background: #3e4245;
  align-items: center;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 0 2px;
  border-radius: 2px;
  width: fit-content;
}
